# ***creating series and dataframes from list dictionaries and sets***

In [258]:
import pandas as pd
import numpy as np
data1=[1,2.2,3,'a',5]
S1=pd.Series(data1,index=['a','b','c','d','e'])
S1

a      1
b    2.2
c      3
d      a
e      5
dtype: object

In [259]:

data=[['ram',25,'lucknow'],['rohan',20,'delhi'],['rohit',30,'bombay'],['rohan',23,'delhi']]
df=pd.DataFrame(data,columns=['name','age','city'],index=['a',2,'c',7])
df
#

    name  age     city
a    ram   25  lucknow
2  rohan   20    delhi
c  rohit   30   bombay
7  rohan   23    delhi

In [260]:
max_age = df['age'].max()
print(max_age)

30

# ***accessing rows and column by using .loc function and .iloc***

In [261]:
#a=df.loc['c']
#print(a)
b=df.iloc[2]
#print(b)
max=df['age'].max()
min=df['age'].min()
#print(max)
mean=df['age'].mean()
#print(mean)
c=df.describe()
c

             age
count   4.000000
mean   24.500000
std     4.203173
min    20.000000
25%    22.250000
50%    24.000000
75%    26.250000
max    30.000000

# ***viewing data***

In [262]:
df.head()#top 5 rows
df.tail()#bottom 5 rows
df.head(2)#top 2 rows
df.tail(2)#bottom 2 rows
df.info()#information about the dataframe
df.describe()#statistical information about the dataframe
df.shape#shape of the dataframe

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, a to 7
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    4 non-null      object
 1   age     4 non-null      int64
 2   city    4 non-null      object
dtypes: int64(1), object(2)
memory usage: 300.0+ bytes

(4, 3)

In [263]:
#df.info()
#df.shape

# ***filter dataframe for age***

In [264]:
filter=df['name']=='rohan'
filter

a    False
2     True
c    False
7     True
Name: name, dtype: bool

# ***using groupy for city and age average***

In [265]:
#
A = df.groupby(['name','city'])['age'].max()
A

name   city
ram    lucknow    25
rohan  delhi      23
rohit  bombay     30
Name: age, dtype: int64

In [266]:


# Sample data
data = {
    'Region': ['East', 'West', 'East', 'South', 'West', 'South'],
    'Product_Type': ['Electronics', 'Clothing', 'Electronics', 'Electronics', 'Clothing', 'Clothing'],
    'Customer_Segment': ['Regular', 'Premium', 'Regular', 'Premium', 'Regular', 'Premium'],
    'Sales': [1000, 1500, 1200, 2000, 1800, 1300],
    'Quantity': [5, 10, 7, 12, 8, 6]
}
df = pd.DataFrame(data)
print(df)

# Group by multiple columns (e.g., 'Region', 'Product_Type', 'Customer_Segment')
grouped_data = df.groupby(['Region', 'Product_Type', 'Customer_Segment'])

# Apply aggregation functions
aggregated_data = grouped_data['Quantity'].sum() # Calculate the sum of Sales for each group

print(aggregated_data)

  Region Product_Type Customer_Segment  Sales  Quantity
0   East  Electronics          Regular   1000         5
1   West     Clothing          Premium   1500        10
2   East  Electronics          Regular   1200         7
3  South  Electronics          Premium   2000        12
4   West     Clothing          Regular   1800         8
5  South     Clothing          Premium   1300         6
Region  Product_Type  Customer_Segment
East    Electronics   Regular             12
South   Clothing      Premium              6
        Electronics   Premium             12
West    Clothing      Premium             10
                      Regular              8
Name: Quantity, dtype: int64

# ***making dataframe using list & dictionaries***

In [267]:
emp_name = ['Alice', 'Bob', 'Charlie', 'David', 'Eve']
salary = [60000, 75000, 50000, 90000, 65000]
df=pd.DataFrame({'name':emp_name,'salary':salary})
df
#

      name  salary
0    Alice   60000
1      Bob   75000
2  Charlie   50000
3    David   90000
4      Eve   65000

In [268]:
dict={'name':['Alice', 'Bob', 'Charlie', 'David', 'Eve'],'salary':[60000, 75000, 50000, 90000, 65000]}
df=pd.DataFrame(dict)
df
'''df.head()#top 5 rows
df.tail()#bottom 5 rows
df.head(2)#top 2 rows
df.tail(2)#bottom 2 rows
df.info()#information about the dataframe
df.describe()#statistical information about the dataframe
df.shape#shape of the dataframe'''

'df.head()#top 5 rows\ndf.tail()#bottom 5 rows\ndf.head(2)#top 2 rows\ndf.tail(2)#bottom 2 rows\ndf.info()#information about the dataframe\ndf.describe()#statistical information about the dataframe\ndf.shape#shape of the dataframe'

# ***finding/identify NAN values and NULL values ***

In [269]:
emp_name = ['Alice', None, 'Charlie', 'David', 'Eve']
salary = [60000, 75000, 50000, np.nan, 65000]
df=pd.DataFrame({'name':emp_name,'salary':salary})
print(df)
nan=df.isna()#finding NAN values
#print(nan)
null=df.isnull()#finding NULL values Df.isnull is an alias for df.isna()
notnan=df.notna()#finding NOT NAN values
print(notnan)
notnull=df.notnull()#finding NOT null values
print(notnull) #finding not NULL values Df.notnull is an alias for df.notna()
#print(null)

      name   salary
0    Alice  60000.0
1     None  75000.0
2  Charlie  50000.0
3    David      NaN
4      Eve  65000.0
    name  salary
0   True    True
1  False    True
2   True    True
3   True   False
4   True    True
    name  salary
0   True    True
1  False    True
2   True    True
3   True   False
4   True    True

# **removing the nan and none values using drop function**

In [270]:
data = {
    'Region': ['East', 'West', 'East', 'South', 'West', 'South'],
    'Product_Type': ['Electronics', None, 'Electronics', 'Electronics', 'Clothing', 'Clothing'],
    'Customer_Segment': ['Regular', 'Premium', 'Regular', 'Premium', 'Regular', 'Premium'],
    'Sales': [1000, 1500, 1200, 2000, 1800, 1300],
    'Quantity': [5, np.nan, 7, 12, 8, np.nan]
}
df = pd.DataFrame(data)
print(df)

drop=df.dropna(axis=1)#axis=1 for column and axis=0 for row
print(drop)

  Region Product_Type Customer_Segment  Sales  Quantity
0   East  Electronics          Regular   1000       5.0
1   West         None          Premium   1500       NaN
2   East  Electronics          Regular   1200       7.0
3  South  Electronics          Premium   2000      12.0
4   West     Clothing          Regular   1800       8.0
5  South     Clothing          Premium   1300       NaN
  Region Customer_Segment  Sales
0   East          Regular   1000
1   West          Premium   1500
2   East          Regular   1200
3  South          Premium   2000
4   West          Regular   1800
5  South          Premium   1300

# **CHECK DUPLICATE VALUES AND DROP DUPLICATE VALUES**

In [271]:
#df=pd.DataFrame({'name':['Alice', 'Bob', 'Alice', 'David', 'Eve'],'salary':[50000, 75000, 50000, 90000, 65000]})

#a=df.duplicated()
#print(a)
#=df.drop_duplicates()
#print(b)

# ***renaming the columns***
This code renames a column in the DataFrame df by providing a dictionary with the old column name as the key and the new column name as the value.

The inplace=True argument tells Pandas to perform the renaming operation directly on the original DataFrame, rather than creating a new DataFrame with the updated column names.

Enter the following command:

df.rename(columns={"old_column_name":"new_column_name"}, inplace=True)

Here's an example demonstrating `inplace=False`:

In [272]:
#a=df.rename(columns={"Region":"Area"}, inplace=True)
#print(a)
#df.rename(columns={"Region":"Area"}, inplace=True)
b=df.rename(columns={"Region":"Area"}, inplace=False)

#print('the renamed column of duplicate dataframe')
print(b)
print('the original dataframe')
print(df)

    Area Product_Type Customer_Segment  Sales  Quantity
0   East  Electronics          Regular   1000       5.0
1   West         None          Premium   1500       NaN
2   East  Electronics          Regular   1200       7.0
3  South  Electronics          Premium   2000      12.0
4   West     Clothing          Regular   1800       8.0
5  South     Clothing          Premium   1300       NaN
the original dataframe
  Region Product_Type Customer_Segment  Sales  Quantity
0   East  Electronics          Regular   1000       5.0
1   West         None          Premium   1500       NaN
2   East  Electronics          Regular   1200       7.0
3  South  Electronics          Premium   2000      12.0
4   West     Clothing          Regular   1800       8.0
5  South     Clothing          Premium   1300       NaN

# **Here's how you can fill missing values using the `.fillna()` method:**

In [273]:
import pandas as pd
import numpy as np

# Recreate the DataFrame with missing values
data = {
    'Region': ['East', 'West', 'East', 'South', 'West', 'South'],
    'Product_Type': ['Electronics', None, 'Electronics', 'Electronics', 'Clothing', 'Clothing'],
    'Customer_Segment': ['Regular', 'Premium', 'Regular', 'Premium', 'Regular', 'Premium'],
    'Sales': [1000, 1500, 1200, 2000, 1800, 1300],
    'Quantity': [5, np.nan, 7, 12, 8, np.nan]
}
df = pd.DataFrame(data)

print("Original DataFrame:")
print(df)

# Fill numerical missing values in 'Quantity' with the mean of the column
df['Quantity'] = df['Quantity'].fillna(df['Quantity'].mean())

# Fill numerical missing values in 'Sales' with the mean of the column
df['Sales'] = df['Sales'].fillna(df['Sales'].mean())


# Fill categorical missing values (in 'Product_Type') with a placeholder string or mode
# Let's fill with a placeholder 'Unknown'
df['Product_Type'] = df['Product_Type'].fillna('Unknown')

print("\nDataFrame after filling missing values:")
print(df)

# You can also fill all missing values in the entire DataFrame with a single value
# Be careful with this if your DataFrame has mixed data types
# df_filled_with_zero = df.fillna(0)
# print("\nDataFrame after filling all missing values with 0:")
# print(df_filled_with_zero)

Original DataFrame:
  Region Product_Type Customer_Segment  Sales  Quantity
0   East  Electronics          Regular   1000       5.0
1   West         None          Premium   1500       NaN
2   East  Electronics          Regular   1200       7.0
3  South  Electronics          Premium   2000      12.0
4   West     Clothing          Regular   1800       8.0
5  South     Clothing          Premium   1300       NaN

DataFrame after filling missing values:
  Region Product_Type Customer_Segment  Sales  Quantity
0   East  Electronics          Regular   1000       5.0
1   West      Unknown          Premium   1500       8.0
2   East  Electronics          Regular   1200       7.0
3  South  Electronics          Premium   2000      12.0
4   West     Clothing          Regular   1800       8.0
5  South     Clothing          Premium   1300       8.0

# **joining and merging of 2  data frames**

In [274]:
import pandas as pd

# Sample DataFrame 1
data1 = {'ID': [1, 2, 3, 4],
         'Name': ['Alice', 'Bob', 'Charlie', 'David']}
df1 = pd.DataFrame(data1)

# Sample DataFrame 2
data2 = {'ID': [1, 2, 3, 5],
         'Salary': [60000, 75000, 50000, 90000]}
df2 = pd.DataFrame(data2)

print("DataFrame 1:")
print(df1)


print("\nDataFrame 2:")
print(df2)
'''
merged_df_inner = pd.merge(df1, df2, on='ID', how='inner')
print("\ninner (keep all common from df1,df2):")
print(merged_df_inner)
'''
'''
#left merge (keep all rows from df1, add matching rows from df2)
merged_df_left = pd.merge(df1, df2, on='ID', how='left')
print("\nLeft Merge (keep all from df1):")
print(merged_df_left)
'''
'''
# Right merge (keep all rows from df2, add matching rows from df1)
merged_df_right = pd.merge(df1, df2, on='ID', how='right')
print("\nRight Merge (keep all from df2):")
print(merged_df_right)
'''
'''
# Outer merge (keep all rows from both dataframes)
merged_df_outer = pd.merge(df1, df2, on='ID', how='outer')
print("\nOuter Merge (keep all rows):")
print(merged_df_outer)
'''

# --- Joining DataFrames ---
# Join is similar to merge, often used when joining on index.
# Let's set 'ID' as the index for joining example
df1_indexed = df1.set_index('ID')
df2_indexed = df2.set_index('ID')

print("\nDataFrame 1 with ID as index:")
print(df1_indexed)

print("\nDataFrame 2 with ID as index:")
print(df2_indexed)

# Inner join on index
joined_df_inner = df1_indexed.join(df2_indexed, how='inner')
print("\nInner Join (matching index only):")
print(joined_df_inner)

# Left join on index
joined_df_left = df1_indexed.join(df2_indexed, how='left')
print("\nLeft Join (keep all from df1_indexed):")
print(joined_df_left)

# Right join on index
joined_df_right = df1_indexed.join(df2_indexed, how='right')
print("\nRight Join (keep all from df2_indexed):")
print(joined_df_right)

# Outer join on index
joined_df_outer = df1_indexed.join(df2_indexed, how='outer')
print("\nOuter Join (keep all index values):")
print(joined_df_outer)

DataFrame 1:
   ID     Name
0   1    Alice
1   2      Bob
2   3  Charlie
3   4    David

DataFrame 2:
   ID  Salary
0   1   60000
1   2   75000
2   3   50000
3   5   90000

DataFrame 1 with ID as index:
       Name
ID
1     Alice
2       Bob
3   Charlie
4     David

DataFrame 2 with ID as index:
    Salary
ID
1    60000
2    75000
3    50000
5    90000

Inner Join (matching index only):
       Name  Salary
ID
1     Alice   60000
2       Bob   75000
3   Charlie   50000

Left Join (keep all from df1_indexed):
       Name   Salary
ID
1     Alice  60000.0
2       Bob  75000.0
3   Charlie  50000.0
4     David      NaN

Right Join (keep all from df2_indexed):
       Name  Salary
ID
1     Alice   60000
2       Bob   75000
3   Charlie   50000
5       NaN   90000

Outer Join (keep all index values):
       Name   Salary
ID
1     Alice  60000.0
2       Bob  75000.0
3   Charlie  50000.0
4     David      NaN
5       NaN  90000.0

# **FINDING THE CO RELATIONSHIP DIRECT PROPOTIONALITY**

In [275]:
# Select only the numeric columns before calculating correlation
numeric_df = df[['Sales', 'Quantity']]
print(numeric_df.corr())

            Sales  Quantity
Sales     1.00000   0.88237
Quantity  0.88237   1.00000

# **READING ANY CSV EXCEL OR ETC FILE**

In [276]:
import pandas as pd

 #Load the dataframe.
df = pd.read_csv("student_data.csv")
df

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,MS,M,20,U,LE3,A,2,2,services,services,...,5,5,4,4,5,4,11,9,9,9
391,MS,M,17,U,LE3,T,3,1,services,services,...,2,4,5,3,4,2,3,14,16,16
392,MS,M,21,R,GT3,T,1,1,other,other,...,5,5,3,3,3,3,3,10,8,7
393,MS,M,18,R,LE3,T,3,2,services,other,...,4,4,1,3,4,5,0,11,12,10
394,MS,M,19,U,LE3,T,1,1,other,at_home,...,3,2,3,3,3,5,5,8,9,9

# ** EXPORT DATA FRAME TO DESIRED FILE FORMAT LIKE EXCEL AND CSV**

In [277]:
# Export the DataFrame to an Excel file
df=pd.DataFrame({'name':['Alice', 'Bob', 'Charlie', 'David', 'Eve'],'salary':[60000, 75000, 50000, 90000, 65000]},)
#df.to_csv("output_dataframe.csv")

#df.to_excel("output_dataframe.xlsx",index=False)
print("DataFrame exported to output_dataframe")

DataFrame exported to output_dataframe

AttributeError: 'Styler' object has no attribute 'hide_index'

In [290]:
import pandas as pd

data1 = {'ID': [1, 2, 3, 4],
         'Name': ['Alice', 'Bob', 'Charlie', 'David']}

df1 = pd.DataFrame(data1)
style=df.style.hide(axis=True)
style